<h2 class="headline">Sign up</h2>

<% stylesheet_link_tag 'application', media: 'all' %>

<div class="flash-messages">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
  <% end %>
</div>

<div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: "form-container") do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <% f.label :name %><br />
      <%= f.text_field :name, autofocus: true, class: "form-control", width: "100px", placeholder: "Name:" %>
    </div>
    <br />
    <div class="field">
      <% f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", width: "100px", placeholder: "Email:" %>
    </div>
    <br />
    <div class="field">
      <% f.label :password %>
      <% if @minimum_password_length %><br />
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", width: "100px", placeholder: "Password:" %>
    </div>

    <div class="field">
      <% f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", width: "100px", placeholder: "Password confirm:" %>
    </div>
    <br />
    <div class="actions">
      <%= f.submit "Sign up", class: "submit-btn2" %>
    </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
