<h1>User All Posts</h1>
<div class="user-line">
    <%= link_to image_tag(@user.photo, class: 'user-photo'), user_path(@user) %>
    <div class="name-counter">
      <span class="name">
        <%= link_to @user.name, user_path(@user) %>
      </span>
      <div>
        <span class="right-top"></span>
        <span class="counter">Number of posts: <strong><%= @user.posts_counter %></strong></span>
        <span class="right"></span>
      </div>
    </div>
</div>

<% @posts.each do |post| %>
  <div class="post-line">
    <h3>Post <%= post.id %>: <%= post.title %>
      <span class="right1"><%= link_to "Read More", post_path(post) %></span>
    </h3>

    <p><%= truncate(post.text, length: 70) %>
      <span class="right2">Comments: <strong><%= post.comments_counter %></strong>
      Likes: <strong><%= post.likes_counter %></strong></span>
    </p>

    <!-- Display comments for the post -->
    <ul>
      <% post.comments.each do |comment| %>
        <li><%= comment.user.name %>: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="page"><%= will_paginate @posts %></div>
