<h1>Single Post Page</h1>

<div class="section1">
  <h2>Post: <%= @post.id %>
    <span class="h3"> by: <%= @post.author.name %></span>
    <span class="h4"> Comments: <strong><%= @post.comments_counter %></strong> Likes: <strong><%= @post.likes_counter %></strong></span>
  </h2>
  <p><%= @post.text %></p>
</div>

<% if @post.comments_counter > 0 %>
  <div class="section1">
    <!-- Display comments for the post -->
    <ul>
      <% @post.comments.each do |comment| %>
        <li><%= comment.user.name %> says: <%= comment.text %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="sep"></div>

<%= link_to "Back to all users", users_path, class: "root" %>
