<!DOCTYPE html>
<html>
  <head>
    <title>MyRorBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'flash_messages' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="logout">
      <% if user_signed_in? %>
        <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "submit-btn3" %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
